/**
 * The whole CSS/SASS structure is based on the Inverted Triangle CSS methodology.
 *
 * All CSS rules are grouped by type as follows:
 * Positioning
 *      position
 *      z-index
 *      top
 *      right
 *      bottom
 *      left
 *
 * Display & Box Model
 *      display
 *      box-sizing
 *      clear
 *      overflow
 *      width
 *      height
 *      padding
 *      margin
 *      border-width
 *
 * Text
 *      font-family
 *      font-size
 *      line-height
 *      text-align
 *
 * Color
 *      border-color
 *      background-color
 *      color
 *      opacity
 *
 * Other
 *      content
 *      cursor
 *
 *
 * TABLE OF CONTENTS
 *
 *  1. Settings
 *      1.1 Global
 *
 *  2. Tools
 *      2.1 Functions
 *      2.2 Mixins
 *
 *  3. Generic
 *       3.1 Reset
 *
 *  4. Elements
 *      4.1 Default
 *      4.2 Forms
 *
 *  5. Objects
 *      5.1 Grid
 *      5.2 Fluid wrapper
 *
 *  6. Components
 */


@import "compass/css3";
@import "modular-scale";

@import "settings.global";

@import "tools.functions";
@import "tools.mixins";



/* 1.1 Reset
----------------------------------------------------------------------------- */
@import "generic.reset";



/* 1.2 Default
----------------------------------------------------------------------------- */
@import "elements.default";
@import "elements.forms";




/*  Grid System
----------------------------------------------------------------------------- */
@import "objects.grid";
@import "objects.fluid_wrapper";

#g1-breakpoint-desktop {
    min-width: 1024px;
}



/* ----------------------------------------------------------------------------

3 . ELEMENTS

----------------------------------------------------------------------------- */

@import "components.typography";

@import "components.buttons";

@import "components.forms.search";
@import "components.forms.password";
@import "components.forms.contact";




@import "components.quotes";



@import "components.messages";

@import "components.avatars";


@import "components.audio";
@import "components.video";
@import "components.gallery";





@import "components.pagination";

@import "components.tables";
@import "components.mailchimp";

@import "components.back_to_top";



/* ----------------------------------------------------------------------------

4 . MODULES

----------------------------------------------------------------------------- */


@import "components.entry.base";
@import "components.entry.templates.grid";
@import "components.entry.templates.list";
@import "components.entry.templates.tile";
@import "components.entry.templates.classic";

@import "components.entry.collections";

@import "components.featured";


@import "components.widgets";

@import "components.comments";

@import "components.author_info";


@import "components.single_nav";




@import "components.archive";




@import "components.images";
@import "components.images.gifs";

@import "components.boxes";

@import "components.mashshare";

@import "components.menu.base";
@import "components.menu.canvas";
@import "components.menu.primary";
@import "components.menu.quick";
@import "components.menu.footer";

@import "components.drops";
@import "components.ads";


@import "components.icons";

@import "components.sharebar";

@import "components.404";


/* 5.3 Header - Theme Area
----------------------------------------------------------------------------- */
@import "components.ta_02_header";


/* 5.5 Content - Theme Area
----------------------------------------------------------------------------- */
@import "components.ta_04_content";


/* 5.7 Footer - Theme Area
----------------------------------------------------------------------------- */
@import "components.ta_06_footer";

@import "components.embeds";
@import "components.wpsl";


@import "trumps.utilities";





@media only screen and ( min-width: $mobile_breakpoint + 1px ) {
    #page {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;

        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;

        > #primary.g1-primary-max {
            margin-bottom: auto;
        }
    }
}

// IE10-11 doesn't like flex-direction: column apparently, even with some fixes found on the web
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    body.snax-page-frontend-submission #page {
        display: block;
    }
}


@media only screen and ( min-width: $mobile_breakpoint + 1px ) {
    .g1-featured-row {
        -webkit-order: -1;
        -ms-flex-order: -1;
        order: -1;
    }

    .archive-wrapper {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;

        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        .archive-featured-row {
            -webkit-order: -1;
            -ms-flex-order: -1;
            order: -1;
        }
    }
}


@media only screen and ( min-width: 1025px ) {
    #page {
        min-height: 100vh;

        body.admin-bar & {
            min-height: calc( 100vh - 32px );
        }
    }
}



button.mfp-close {
    display: block;
    width: 30px;
    height: 44px;
    font-size: 0;

    &:before {
        font: 17px/44px "bunchicon";
        content: "\e00e";
    }
}




.g1-link {
    display: inline-block;

    font: 600 13px "Roboto Condensed", sans-serif;
    line-height: inherit;

    letter-spacing: 0.2em;
    text-transform: uppercase;

    &:after {
        display: inline-block;

        font: 17px "bunchicon";
        line-height: inherit;
        vertical-align: middle;

        content: if-ltr( "\e028", "\e027" );
    }
}





// CSStodo: Refactor g1-spin and g1-collection-more-spin animations
@-webkit-keyframes g1-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes g1-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}


// Facebook delayed loading
.bunchy-fb-page-loading {
    width: 100%;

    &:before {
        display: block;
        width: 1em;
        margin: 0 auto;
        font: 34px/1 "bunchicon";
        content: "\e000";

        -webkit-animation: g1-spin 2s infinite linear;
        animation: g1-spin 2s infinite linear;
    }
}

