/* =Password-Protected =Form */
form.post-password-form {
    label {
        display: inline-block;
        vertical-align: middle;
    }

    input[type="password"] {
        display: inline-block;
        margin-#{$right}: 6px;
        vertical-align: middle;
    }
}
