/* Base */
.g1-row {
    @include box-sizing( border-box );
    clear: both;
    width: 100%;
    min-height: 1px;
    margin-#{$left}: auto;
    margin-#{$right}: auto;

    position: relative;

    /* Remove the space between inline-block elements */
    letter-spacing: -0.31em;

    // clearfix
    &:after {
        display: table;
        clear: both;
        content: "";
    }

    .g1-row {
        width: auto;
    }
}

.g1-row-inner {
    // The inner container should be above the row background
    position: relative;
    z-index: 1;

    max-width: $mobile_grid_width;
    margin-#{$left}: auto;
    margin-#{$right}: auto;

    font-size: 0;
    letter-spacing: normal;
}

@media only screen and ( min-width: $mobile_breakpoint + 1px ) {
    .g1-row-inner {
        max-width: $grid_width;
    }
}

.g1-row-background {
    overflow: hidden;

    position: absolute;
    z-index: -2;
    #{$left}: 0;
    #{$right}: 0;
    top: 0;
    bottom: 0;
}




.g1-column {
    display: block;
    @include box-sizing( border-box );

    width: 100%;
    padding-#{$left}: 10px;
    padding-#{$right}: 10px;
    margin-#{$left}: auto;
    margin-#{$right}: auto;
    min-height: 1px;

    position: relative;

    vertical-align: top;

    font-size: 1rem;
}

.g1-column-background {
    position: absolute;
    z-index: -1;
    #{$left}: 0;
    #{$right}: 0;
    top: 0;
    bottom: 0;
}


@media only screen and ( max-width: $mobile_breakpoint ) {
    #secondary {
        padding-top: 30px;
        border-width: 1px 0 0;

        border-style: solid;
        border-color: #e6e6e6;
    }
}


@media only screen and ( min-width: $mobile_breakpoint + 1px ) {
    .g1-column {
        display: inline-block;
        padding-#{$left}: 10px;
        padding-#{$right}: 10px;
    }

    /* Columns sizes */
    .g1-column-1of4     { width: percentage( 1/4 ); }
    .g1-column-1of3     { width: percentage( 1/3 ); }
    .g1-column-1of2     { width: percentage( 1/2 ); }
    .g1-column-2of3		{ width: percentage( 2/3 ); }

    #secondary {
        padding-#{$left}: 20px;
    }

    #item-header {
        padding-#{$right}: 20px;
    }
}

@media only screen and ( min-width: 1025px ) {
    .g1-column {
        padding-#{$left}: 15px;
        padding-#{$right}: 15px;
    }

    #secondary {
        padding-#{$left}: 45px;
    }

    #item-header {
        padding-#{$right}: 45px;
    }
}

.g1-primary-max {
    width: 100%;
}

.g1-row-padding-m {
    padding-top: 30px;
    padding-bottom: 30px;
}

.g1-row-padding-l {
    padding-top: 30px;
    padding-bottom: 30px;
}

@media only screen and ( min-width: $mobile_breakpoint + 1px ) {
    .g1-row-padding-l {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}


.g1-row-layout-full {
    > .g1-row-inner {
        max-width: 100%;
    }
}


@media only screen and ( max-width: 1211px ) {
    .g1-row-layout-full {
        > .g1-row-inner {
            max-width: 1182px;
        }
    }
}


@media only screen and ( min-width: 1212px ) {
    .g1-row-layout-full {
        padding-#{$left}: 15px;
        padding-#{$right}: 15px;
    }
}