$grid_width:            1182px;
$grid_gutter_width:     30px;
$layout_boxed_width:    1290px;


$mobile_breakpoint: 800px;
$mobile_grid_width: 708px;

$color_accent_primary: #ff0036;
$color_accent_secondary: #ff8400;

$ui_border_radius: 0px;


$menu_font_family: "Roboto Condensed", "Arial", sans-serif;
$menu_font_weight: 400;

$regular_font_family: "Roboto", "Arial", sans-serif;
$important_font_family: "Roboto", "Arial", sans-serif;
$important_2nd_font_family: "Roboto Condensed", "Arial", sans-serif;
$meta_font_family: "Roboto", "Arial", sans-serif;
$ui_font_family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
